<p id="notice"><%= notice %></p>

<h1>Onlin Res</h1>

<table>
  <thead>
    <tr>
      <th>Journey type</th>
      <th>Departure city</th>
      <th>Arrival city</th>
      <th>Departure date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onlin_res.each do |onlin_re| %>
      <tr>
        <td><%= onlin_re.Journey_Type %></td>
        <td><%= onlin_re.Departure_City %></td>
        <td><%= onlin_re.Arrival_City %></td>
        <td><%= onlin_re.Departure_Date %></td>
        <td><%= link_to 'Show', onlin_re %></td>
        <td><%= link_to 'Edit', edit_onlin_re_path(onlin_re) %></td>
        <td><%= link_to 'Destroy', onlin_re, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onlin Re', new_onlin_re_path %>
